body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
.footer-links a{
  color: #6c757d;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-links p{
  color: black;
  font-size: 1.3rem;
}
#supportHero{
  background-color: rgb(56,126,209);
  color: white;
}
#supportHero a{
  color: white;
  margin-left: 5px;
}
#supportWrapper{
  display: flex;
  justify-content:space-between;
  margin: 0 150px;
}
#supportHero input{
      padding: 20px 30px;
      width: 100%;
      border-radius: 15px;
}

